.contact_container2 {
    padding: 1rem 0;
}

.form {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.input_container input,
.input_container textarea {
    padding: 1rem;
    border: 1px solid #dedede;
}

.input_container input:focus,
.input_container textarea:focus {
    border: 1px solid #007aff;
    outline: none;
}

.input_container span {
    font-size: 14px;
    font-weight: 600;
}

.input_container small {
    font-size: 14px;
    color: #e63946;
    margin-left: .2rem;
    font-weight: 600;
}

.submit_button {
    height: 3rem;
    width: 100%;
    background-color: #bf9766;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_button input {
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 100%;
}

.map_container {
    width: 90%;
    margin: 2rem auto;
    box-shadow: 0px 0px 7px 4px #00000038;
}

.map_container iframe {
    width: 100%;
}

/* spinner css */

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner .throbber {
    width: 50px;
    height: 50px;
    animation: spin 1.6s linear infinite;
}

.spinner .throbber .arc {
    fill: none;
    stroke-width: 20;
    stroke-dasharray: 5 251.2;
    stroke-dashoffset: 0;
    animation:
        rotateOffset 0.9s linear infinite,
        growShrink 0.9s ease-in-out infinite;
}

.title_contact{
    width: 90%;
    margin: 4rem auto 0;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateOffset {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -265.2;
    }
}

@keyframes growShrink {

    0%,
    100% {
        stroke-dasharray: 5 251.2;
    }

    25% {
        stroke-dasharray: 60 251.2;
    }

    50% {
        stroke-dasharray: 130 251.2;
    }

    75% {
        stroke-dasharray: 60 251.2;
    }
}

@media (min-width: 1024px) {
    .contact_container2 {
        display: flex;
        align-items: stretch;
        justify-content: center;
        width: 90%;
        margin: auto;
        gap: 2rem;
    }

    .map_container iframe {
        height: 43rem;
    }
}