#footer {
    background-color: #323232;
    color: #fff;
    padding: 1rem 0;
}

.footer_img img {
    width: 7rem;
}

.container_footer {
    width: 90%;
    margin: auto;
}

.footer_img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_container {
    margin: 2rem 0;
}

.contact_container svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #bf9766;
}

.media_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    gap: 1rem;
}

.contact_container li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
}

.media_list li svg {
    width: 2rem;
    height: 2rem;
    color: #bf9766;
}

@media (min-width: 768px) {
    .contact_media {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .container_footer {
        width: 70%;
    }
}