 header {
     width: 100%;
     height: 6rem;
 }

 .content_header {
     width: 90%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: relative;
     margin: auto;
     height: 100%;
 }

 .content_header svg {
     width: 3rem;
 }

 .logo_container {
     width: 8rem;
     height: 100%;
     object-fit: cover;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }

 .logo_container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }


 .mobile_nav {
     width: 100%;
     height: 0;
     overflow: hidden;
     transition: all 0.3s ease-in-out;
     position: relative;
     z-index: 1;
 }

 .mobile_nav.active {
     height: 7rem;
     padding: 2rem 0;
     color: #fff;
     background-color: #323232;
     transition: all 0.3s ease-in-out;
     z-index: 1;
 }

 .list_link {
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     gap: 1rem;
     justify-content: center;
     align-content: center;
     opacity: 0;
 }

 .list_link.active {
     opacity: 1;
     transition: all 0.3s ease-in-out;
 }

 .list_link li {
     flex: 0 0 45%;
     text-align: center;
     font-size: 16px;
 }