.image_container {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.image_container::before {
    content: "";
    background-image: url("/header_image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

h1,
h2,
p {
    margin: 0;
}

.img_text {
    z-index: 1;
    width: 90%;
}

.img_text h1 {
    font-size: 20px;
    color: #bf9766;
}

.img_text h2 {
    font-size: 38px;
    margin-bottom: 15px;
    color: #fff;
}

.img_text p {
    font-size: 16px;
    color: #fff;
}

.reserve_btn {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    width: 100%;
    height: 3rem;
    margin: auto;
    background-color: #bf9766;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    color: #fff;
}