.home_muchText {
    background-color: #323232;
    padding: 3rem 0;
}

.text_container {
    width: 90%;
    margin: auto;
}

.text_container h2 {
    margin: 0;
    color: #ffc362;
    font-size: 26px;
    margin-bottom: 1rem;
}

.text_container p {
    color: #fff;
    font-size: 14px;
}

.img_text2 {
    position: relative;
    height: 35rem;
    overflow: hidden;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_text2::before {
    content: "";
    background-image: url("/img_hotel.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.text_rooms {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}

.text_rooms span {
    color: #cecece;
    font-size: 16px;
}

.text_rooms h3 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

.text_rooms p {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.text_rooms a {
    color: #ffc362;
    font-size: 20px;
    border-bottom: 2px solid;
    margin-top: 1rem;
    width: 12rem;
    align-self: center;
    cursor: pointer;
    transition: all .3s;
}

.text_rooms a:hover {
    opacity: .8;
}

.map_container_home iframe {
    width: 100%;
}

@media (min-width: 1024px) {
    .home_muchText {
        margin: 4rem 0;
        padding: 4rem 0;
    }

    .img_text2 {
        height: 35  rem;
        flex: 0 0 50%;
    }

    .text_container {
        width: 70%;
    }

    .text_rooms {
        width: 70%;
    }

    .map_container_home {
        flex: 0 0 50%;
        box-shadow: 0px 0px 7px 4px #00000038;
    }

    .map_container_home iframe {
        height: 100%;
    }

    .loacation_text_home {
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 4rem;
    }
}