.home_muchText {
    background-color: #323232;
    padding-bottom: 2rem;
}

.text_container {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.text_container h2 {
    margin: 0;
    color: #ffc362;
    font-size: 26px;
    margin-bottom: 1rem;
}

.text_container p {
    color: #fff;
    font-size: 14px;
}

.img_text2 {
    position: relative;
    height: 30rem;
    overflow: hidden;
    background-color: #000;
}

.img_text2::before {
    content: "";
    background-image: url("/img_hotel.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.text_rooms {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text_rooms span {
    color: #cecece;
    font-size: 16px;
}

.text_rooms h3 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

.text_rooms p {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.text_rooms a {
    color: #ffc362;
    font-size: 20px;
    border-bottom: 2px solid;
    margin-top: 1rem;
    width: 12rem;
    align-self: center;
}