* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}