---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact";
import "../styles/contact.css";
---

<Layout>
    <section class="title_contact">
        <h1 style="color: #323232; font-size: 36px;">Contacto · Ayres Dorados Lodge en Sierra Grande</h1>
        <h2 style="font-size: 24px; color: #973900">¿Tenés alguna consulta? Estamos para ayudarte.</h2>
    </section>
    <section class="contact_container2">
        <Contact client:visible />
        <section class="map_container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.524671043715!2d-65.0262693!3d-41.687608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95f8577a248d50e3%3A0xc80bdfb2507bda08!2sAyres%20Dorados%20%7C%20Lodge!5e0!3m2!1ses-419!2sar!4v1762638359917!5m2!1ses-419!2sar"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </section>
</Layout>
