---
    import '../styles/header_image.css';
---

<div id="header_image">
    <picture class="image_container">
        <div class="img_text">
            <h1>Ayres Dorados Lodge</h1>
            <h2>Hotel en Sierra Grande</h2>
            <p>Un lugar para desconectarte y disfrutar de la naturaleza</p>
            <a href="#" class="reserve_btn">Reservar Ahora</a>
        </div>
    </picture>
</div>
